
body {
	font-family: monospace, monospace;
	margin-left: 20%;
	margin-right: 20%;
}

a #hover {
	color: black;
}

a {
	color: black;
}

p.code {
	background-color: #DCDCDC;
	white-space: pre;
}

object {
	width: 100%;
}
